@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6om4mw');
  src:  url('fonts/icomoon.eot?6om4mw#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?6om4mw') format('truetype'),
  url('fonts/icomoon.woff?6om4mw') format('woff'),
  url('fonts/icomoon.svg?6om4mw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sat-"], [class*=" sat-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sat-user:before {
  content: "\e950";
}
.sat-Addmore:before {
  content: "\e94f";
}
.sat-ALARM:before {
  content: "\e900";
}
.sat-Back_Black:before {
  content: "\e901";
}
.sat-back:before {
  content: "\e902";
}
.sat-BAG:before {
  content: "\e903";
}
.sat-banhang-hover:before {
  content: "\e904";
}
.sat-banhang:before {
  content: "\e905";
}
.sat-BCH:before {
  content: "\e906";
}
.sat-CAB:before {
  content: "\e907";
}
.sat-checked:before {
  content: "\e908";
}
.sat-CHI:before {
  content: "\e909";
}
.sat-CHR:before {
  content: "\e90a";
}
.sat-CKM:before {
  content: "\e90b";
}
.sat-congno-hover:before {
  content: "\e90c";
}
.sat-congno:before {
  content: "\e90d";
}
.sat-CPU:before {
  content: "\e90e";
}
.sat-CRE:before {
  content: "\e90f";
}
.sat-DES:before {
  content: "\e910";
}
.sat-DONE:before {
  content: "\e911";
}
.sat-Donhang:before {
  content: "\e912";
}
.sat-DVD:before {
  content: "\e913";
}
.sat-Filter:before {
  content: "\e914";
}
.sat-GCA:before {
  content: "\e915";
}
.sat-gcafe-hover:before {
  content: "\e916";
}
.sat-Gcafe:before {
  content: "\e917";
}
.sat-Giohang:before {
  content: "\e918";
}
.sat-GPA:before {
  content: "\e919";
}
.sat-HDD-(1):before {
               content: "\e91a";
             }
.sat-HDD:before {
  content: "\e91b";
}
.sat-HOL:before {
  content: "\e91c";
}
.sat-HSE:before {
  content: "\e91d";
}
.sat-IPA:before {
  content: "\e91e";
}
.sat-KCA:before {
  content: "\e91f";
}
.sat-Khuyenmai:before {
  content: "\e920";
}
.sat-KYB:before {
  content: "\e921";
}
.sat-LAP:before {
  content: "\e922";
}
.sat-LBA:before {
  content: "\e923";
}
.sat-letter-x_copy_2:before {
  content: "\e924";
}
.sat-letter-x:before {
  content: "\e925";
}
.sat-MAP:before {
  content: "\e926";
}
.sat-MBO:before {
  content: "\e927";
}
.sat-MES:before {
  content: "\e928";
}
.sat-MOB:before {
  content: "\e929";
}
.sat-MOD:before {
  content: "\e92a";
}
.sat-MON:before {
  content: "\e92b";
}
.sat-MOU:before {
  content: "\e92c";
}
.sat-MPA:before {
  content: "\e92d";
}
.sat-NCA:before {
  content: "\e92e";
}
.sat-NEJ:before {
  content: "\e92f";
}
.sat-next:before {
  content: "\e930";
}
.sat-NPS:before {
  content: "\e931";
}
.sat-OTH:before {
  content: "\e932";
}
.sat-PCC:before {
  content: "\e933";
}
.sat-photo-camera:before {
  content: "\e934";
}
.sat-PLUS:before {
  content: "\e935";
}
.sat-PRI:before {
  content: "\e936";
}
.sat-PSU-1:before {
  content: "\e937";
}
.sat-PSU:before {
  content: "\e938";
}
.sat-RAC:before {
  content: "\e939";
}
.sat-RAM:before {
  content: "\e93a";
}
.sat-REC:before {
  content: "\e93b";
}
.sat-SER:before {
  content: "\e93c";
}
.sat-SPE:before {
  content: "\e93d";
}
.sat-SSD:before {
  content: "\e93e";
}
.sat-TAB:before {
  content: "\e93f";
}
.sat-Taichinh:before {
  content: "\e940";
}
.sat-THONGBAO:before {
  content: "\e941";
}
.sat-trangchu-hover:before {
  content: "\e942";
}
.sat-Trangchu:before {
  content: "\e943";
}
.sat-transfer:before {
  content: "\e944";
}
.sat-trash_BLACK:before {
  content: "\e945";
}
.sat-trash:before {
  content: "\e946";
}
.sat-TVB:before {
  content: "\e947";
}
.sat-uncheck:before {
  content: "\e948";
}
.sat-UPS:before {
  content: "\e949";
}
.sat-USB:before {
  content: "\e94a";
}
.sat-User:before {
  content: "\e950";
}
.sat-vanchuyen-hover:before {
  content: "\e94c";
}
.sat-Vanchuyen:before {
  content: "\e94d";
}
.sat-WCM:before {
  content: "\e94e";
}
